[submodule "test/lib/uvm_gp_scoreboard"]
	path = test/lib/uvm_gp_scoreboard
	url = https://github.com/mwnock/uvm_component.git
[submodule "test/lib/simple_axi_uvm"]
	path = test/lib/simple_axi_uvm
	url = https://github.com/akira-nishiyama/simple_axi_uvm.git
